@media (max-width:1300px) {
    #search-box input {
        width: 200px;
    }
    #banner-text{
        font-size:2rem;
    }
    #humberger-menu{
        display: none;
    }

}
@media(max-width:1060px){
    #container{
justify-content: flex-start;
       top:300px;
       right:50px;
       width: calc(100% - 50px);
    }
.product-ads{
    font-size: 1.8rem;
}
#footer-links h3{
    font-size:.8rem;
}
#footer-links li ul li a{
    font-size:.9rem;
}
#footer-links{
    column-gap: 10px;
}
#footer-text{
    font-size:.9rem;
}

}

@media (max-width:730px) {
    #menu {
        display: none;
    }
    #logo{
        display: none;
    }
    header{
        padding: 0px 0;
    }
    .humberger{
        display: block;
    }
    .humberger #humberger{
        cursor: pointer;
    }
#footer-links-text{
    flex-direction: column;
}
#footer-text{
    margin-bottom: 50px;

}
.socials{
    top:100px;
}

footer{
    height:700px;
}
}


@media (max-width:500px) {
#login-register-btn{
    padding:7px;
    height: 40px;
}
#search-box {
    width: auto;
}
#search-box input {
    width: 140px;
}
#banner-text{
    right:15px;
    font-size: 1.8rem;
}
#container{
    right:15px;
}
footer{
    height:700px;
}
.product-ads {
    flex-direction: column;
    overflow:visible;
    position: relative;
    font-size: 1rem;
}
.product-ads img{
width: 130px;
position: absolute;
bottom:0px;
left:0px;
}
}