@media (max-width:1300px) {
    #search-box input {
        width: 200px;
    }

    #banner-text {
        font-size: 2rem;
    }

    #humberger-menu {
        display: none;
    }

}

@media(max-width:1060px) {
    #container {
        justify-content: flex-start;
        top: 300px;
        right: 50px;
        width: calc(100% - 50px);
    }

    .product-ads {
        font-size: 1.8rem;
    }

    #footer-links h3 {
        font-size: .8rem;
    }

    #footer-links li ul li a {
        font-size: .9rem;
    }

    #footer-text {
        font-size: .9rem;
    }

    .socials {
        bottom: -44px;
        z-index: -1;
    }

    #footer-links-text {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        align-self: center;
    }

}

@media (max-width:730px) {
    #menu {
        display: none;
    }

    #logo {
        display: none;
    }

    header {
        padding: 0px 0;
    }

    .humberger {
        display: block;
        height: 65px;

    }

    .humberger #humberger {
        cursor: pointer;
    }

    #footer-links-text {
        flex-direction: column;
        justify-content: center;

    }




}


@media (max-width:520px) {
    #login-register-btn {
        padding: 7px;
        height: 40px;
    }

    #search-box {
        width: auto;
    }

    #search-box input {
        width: 140px;
    }

    #banner-text {
        right: 15px;
        font-size: 1.8rem;
    }

    #container {
        right: 15px;
    }

    .product-ads {
        flex-direction: column;
        overflow: visible;
        position: relative;
        font-size: 1rem;

    }

    .product-ads h1 {
        z-index: 99;
    }

    .product-ads img {
        width: 130px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    #footer-links-text {
        width: 100%;
        padding: 20px;
    }

    #footer-links li ul li a {
        font-size: .7rem;
        line-height: 1;
    }

    .socials {
        bottom: -27.4px;
        z-index: -1;
    }

    .socials>ul>li>a>img {
        width: 20px;
    }

    #banner-text {
        font-size: auto;
    }

    #footer-links {
        column-gap: 7px;
    }

    #humberger {
        height: 65px;

    }

    .humberger #humberger {
        width: 30px;
    }

}